@import url(base.css);
@import url(reset.css);
@import url(theme.css);
@import url(card.css);


/* 레이아웃 */
.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--small-spacing);
}

/* 스타일링 */
/* 검은 배경 */
.card-component:nth-child(odd) {
  color: var(--white);

  .more-btn, .price-btn {
    border: 1px solid var(--blue-300);
  }

  .more-btn {
    background-color: var(--blue-300);
    color: var(--white);
  }
  .price-btn {
    background-color: transparent;
    color: var(--blue-300);
  }
}

/* 하얀 배경 */
.card-component:nth-child(even) {
  color: var(--black);

  .more-btn, .price-btn {
    border: 1px solid var(--black);
  }
  
  .more-btn {
    background-color: var(--black);
    color: var(--white);
  }
  .price-btn {
    background-color: transparent;
    color: var(--black);
  }
}


/* 배경 이미지 */
.ipad-pro {
  background-image: image-set(
    url(/apple/products/ipad_pro.jpeg) 1x,
    url(/apple/products/ipad_pro_2x.jpeg) 2x
  );
}

.ipad-air {
  background-image: image-set(
    url(/apple/products/ipad_air.jpeg) 1x,
    url(/apple/products/ipad_air_2x.jpeg) 2x
  );
}

.iphone-15-pro {
  background-image: image-set(
    url(/apple/products/iphone15_pro.jpeg) 1x,
    url(/apple/products/iphone15_pro_2x.jpeg) 2x
  );
}

.iphone-15 {
  background-image: image-set(
    url(/apple/products/iphone15.jpeg) 1x,
    url(/apple/products/iphone15_2x.jpeg) 2x
  );
}

.watch {
  background-image: image-set(
    url(/apple/products/apple_watch.jpeg) 1x,
    url(/apple/products/apple_watch_2x.jpeg) 2x
  );
}

.macbook-air {
  background-image: image-set(
    url(/apple/products/macbook_air.jpeg) 1x,
    url(/apple/products/macbook_air_2x.jpeg) 2x
  );
}

.airpods-pro {
  background-image: image-set(
    url(/apple/products/airpods_pro.jpeg) 1x,
    url(/apple/products/airpods_pro_2x.jpeg) 2x
  );
}


/* 데스크탑 */
@media (min-width: 1024px) {
  /* 레이아웃 */
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .ipad-pro {
    grid-area: 1 / 1 / 2 / 3;
  }
  .ipad-air {
    grid-area: 2 / 1 / 3 / 3;
  }
  .iphone-15-pro {
    grid-area: 3 / 1 / 4 / 3;
  }

  /* 배경 */
  .ipad-pro {
    background-image: image-set(
      url(/apple/products/ipad_pro_wide.jpeg) 1x,
      url(/apple/products/ipad_pro_wide_2x.jpeg) 2x
    );
  }
  .ipad-air {
    background-image: image-set(
      url(/apple/products/ipad_air_wide.jpeg) 1x,
      url(/apple/products/ipad_air_wide_2x.jpeg) 2x
    );
  }
  .iphone-15-pro {
    background-image: image-set(
      url(/apple/products/iphone15_pro_wide.jpeg) 1x,
      url(/apple/products/iphone15_pro_wide_2x.jpeg) 2x
    );
  }
}