@import url(/naver/sr-only.css);
/* 모바일 퍼스트 */

body {
  font-size: 1rem;
  color: #181818;
}

/* 로고 */
.logo {
  width: 230px;
  margin: 100px auto 50px; /* 위아래 여백 임의로 */
}

/* 전체 form */
.login-form {
  display: flex;
  flex-flow: column nowrap;
}

/* 아이디 + 비번 영역 */
.login-form-input {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

/* 아이디 비번 인풋 박스 */
.input-group {
  display: flex;
  flex-flow: column nowrap;

  input {
    font-size: 0.875rem;
    height: 2.8125rem;
    padding: 0 1.25rem 0 1.25rem;
    margin: 0 1.25rem 0 1.25rem;
    border: 1px solid #dadada;

    &:focus {
      background-color: #e9f0fd;
      outline: 1px solid #03cf5d;
    }
  }

}

/* 버튼 */
.login-btn {
  font-size: 1rem;
  height: 2.8125rem;
  color: #fff;
  background-color: #03cf5d;
  border: 0;
  margin: 1rem 1.25rem 0 1.25rem;
}

/* 하단 로그인 상태 유지 영역과 ip 보안 영역을 합친 영역*/
.login-setting {
  order: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-top: 0.625rem; /* 위쪽 여백을 위해 10px */
  /* margin: 0.625rem 1.25rem 0 0; */
  padding: 0 1.25rem;
}

/* 체크박스 스타일링 */
.form-checkbox {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* position: relative; */

  input {
    appearance: none;
    width: 24px;
    height: 24px;
  }

  input:focus {
    outline: none;
  }
  input:focus-visible {
    outline: 2px solid #24388d;
  }
}

/* 로그인 상태 유지 영역 */
.login-status-keep {
  order: 1;

  input {
    position: absolute;
  }

  label {
    background: url(/naver/icons/unchecked.svg) no-repeat 0 0 /contain;
    padding-left: calc(1.5rem + 0.3125rem);
  }

  input:checked + label {
    background-image: url(/naver/icons/checked.svg);  
  }
}

/* ip 보안 영역 - 모바일에선 숨김 */
/* 모바일 */
@media (max-width: 768px) {
  .ip-security {
    display: none;
  }
}



/* 데스크탑일 때 */
@media (min-width: 768px) {

  /* 로그인 폼 가로크기 조절 */
  .login-form {
    padding: 0;
    margin: 0 auto;
    width: 31.25rem;
  }

  /* 하단 가로크기 조절 */
  .login-setting {
    justify-content: space-between;
    /* padding: 0.625rem 1.25rem 0 1.25rem; */
  }

  /* 데스크탑에서는 ip 보안 영역 보임 */
  .ip-security {
    display: flex;
    flex-flow: row nowrap;
    order: 1;

    a {
      text-decoration: none;
    }

    input {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    input::after{
      content: "OFF";
      color:#aaa;
    }

    input:checked + input::after {
      content: "ON";
      color: #03cf5d;
    }
  }
}