/* 모바일 퍼스트 */

body {
  font-size: 1rem;
  color: #181818;
}

/* 로고 */
.logo {
  width: 230px;
  margin: 100px auto 50px; /* 위아래 여백 임의로 */
}

/* form 영역 */
.login-form {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1; /* 컨테이너 크기가 커져도 100%를 유지 */
  gap: 0.625rem; /* 임의로 여백 주었음 - 20px */

  input {
    font-size: 0.875rem; /* 14px */
    height: 2.8125rem; /* 45px */
    padding: 0 1.25rem 0 1.25rem;
    /* 플레이스홀더 양쪽 여백 20px */
    border: 1px solid #dadada;
  }
  
  input:focus {
    background-color: #e9f0fd;
    outline: 1px solid #03cf5d;
  }

  /* 버튼 */
  .login-btn {
    font-size: 1rem;
    height: 2.8125rem;
    color: #fff;
    background-color: #03cf5d;
    border: 0;
    margin-top: 1rem; /* 버튼 위쪽 16px 여백 */
  }
}


/* 로그인 상태 유지 영역 */
.login-status-keep {
  position: relative;
  order: 1;

  input {
    position: absolute;
    appearance: none;
    width: 24px;
    height: 24px;
    margin: 0;
  }

  label {
    background: url(/naver/icons/unchecked.svg) no-repeat 0 0 /contain;
    padding-left: 1.5625rem; /* 임의로 25px 여백 */
  }

  input:checked + label {
    background-image: url(/naver/icons/checked.svg);  
  }
}

/* ip 보안 영역 - 모바일에선 숨김 */
.ip-security {
  visibility: hidden;
}

/* 하단 로그인 상태 유지 영역과 ip 보안 영역을 합친 영역*/
.login-setting {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.625rem 0; /* 위쪽 여백을 위해 10px */
}

/* 데스크탑일 때 */
@media (min-width: 768px) {

  /* 로그인 폼 가로크기 조절 */
  .login-form {
    margin: 0 auto;
    width: 500px;
  }

  /* 하단 가로크기 조절 */
  .login-setting {
    width: 500px;
    margin: 0 auto;
  }

  /* 데스크탑에서는 ip 보안 영역 보임 */
  .ip-security {
    visibility: visible;
    order: 1;

    position: relative;

    a {
      text-decoration: none;
    }

    input {
      position: absolute;
      appearance: none;
      width: 24px;
      height: 24px;
    }

    .on-off::after{
      content: "OFF";
      color:#aaa;
      font-size: 100%;
    }

    input:checked + .on-off::after {
      content: "ON";
      color: #03cf5d;
    }
  }
}